<div id="login-overlay">
  <div class="d-flex justify-content-md-center align-items-center vh-100">
    <div class="user-card">
      <div class="login-title">
        <h3 id="form-title" class="text-center login-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOGIN</h3>
        <a class="close-btn" onclick="closeLoginForm()">X</a>
      </div>
      <div class="d-flex justify-content-center form-container">
        <form id="login-form" style="" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" placeholder="Username..." class="form-control" />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" name="password" placeholder="Password..." class="form-control" />
          </div>
          <div class="d-flex justify-content-center mt-3 login-container">
            <input class="btn login-btn" type="submit" value="Login" />
          </div>
        </form>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a class="log-link" onclick="sign_up()">&nbsp;Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
