:root {
    --palette-1: #FFFFFF;
    --palette-2: #E5E5E5;
    --palette-3: #afb4af;
    --palette-4: #14213D;
    --palette-5: #233358;
    --palette-6: #1f1f1f;
}



/* home */
.container {
    max-width: 80vw;
}

.alert {
    position: fixed;
    width: 80vw;
}

.alert-hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    pointer-events: none;
}

body {

    background: #1F1F1F;
    background: -webkit-radial-gradient(center, #1F1F1F, #343434);
    background: -moz-radial-gradient(center, #1F1F1F, #343434);
    background: radial-gradient(ellipse at center, #1F1F1F, #343434);
    color: var(--palette-2);
    margin-top: 5rem;
}

a {
    text-decoration: none;
    color: var(--palette-1);
}

.navbar-brand {
    color: var(--palette-1);
}

.nav-link{ 
    color:var(--palette-1) !important;
    opacity: 75%;
}

.nav-link:hover{ 
    opacity: 1;
}


.card {
    align-items: center;
}
.card h4 {
    color: #fff;
    opacity: 75%;
}
.card:hover h4 {
    opacity: 1;
}
.card-img,
.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.card-img-top:hover {
    border: 3px solid white;
  }

.card-title,
.card-text {
    opacity: 70%;
    color: var(--palette-3);
    text-decoration: none;
}
.card-title:hover,
.card-text:hover {
    opacity: 100%;
    text-decoration: none;
}
