
h1 {
    color: (10, 155, 255);
    text-align: center;
}

body {
  background-color: darkgray;
}
p {
  font-size: 30px;
  color: #964B00;
}

table, th, td {
  border: 1px solid;
  color: rgb(95, 56, 56);
  padding: 8px;

}