{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6f6a51b67a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">

    <title>Ceneo Insight</title>

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="ceneo mr-4" href="{% url 'home' %}">Ceneo Insight</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'products' %}?category=All">Products</a>
            </div>
            <!-- Navbar !-->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'favourites' %}">Favourites</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
    
    <div class="row"> 

      <div class="col-md-1.5">
        <div class="content-section">
        <h3 style="margin-bottom: 10px;">Sort by:</h3>
        <ul class="list-group" style="margin-top: 10px;">
        <a class="btn btn-outline-warning {% if sorter == 'newest' %}active{% endif %}" href="?sort=newest">Newest&nbsp;<i class="fa-solid fa-hourglass-end"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'oldest' %}active{% endif %}" href="?sort=oldest">Oldest&nbsp;<i class="fa-solid fa-hourglass-start"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'highest_rated' %}active{% endif %}" href="?sort=highest_rated">Rated&nbsp;<i class="fa-solid fa-arrow-down-wide-short"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'lowest_rated' %}active{% endif %}" href="?sort=lowest_rated">Rated&nbsp;<i class="fa-solid fa-arrow-up-short-wide"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'most_liked' %}active{% endif %}" href="?sort=most_liked">Liked&nbsp;<i class="fa-solid fa-arrow-down-wide-short"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'most_disliked' %}active{% endif %}" href="?sort=most_disliked">Disliked&nbsp;<i class="fa-solid fa-arrow-down-wide-short"></i></a>
        <a class="btn btn-outline-warning {% if sorter == 'most_used' %}active{% endif %}" href="?sort=most_used">Days Used&nbsp;<i class="fa-solid fa-arrow-down-wide-short"></i></a>
        </ul>
        </div>
      </div>

      <div class="col-md-9">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
            {% block content %}{% endblock %}
      </div> 
      <div class="col-md-2">
          <div class="chart">
              <h4>Stars</h4>
              <canvas id="star_chart" width="600" height="600"></canvas>
          </div> 
          <div class="chart">
              <h4>Does Recomend</h4>
              <canvas id="recomendation_chart" width="600" height="600"></canvas>
          </div>
          <div class="chart">
            <h4>Days Used</h4>
            <canvas id="days_chart" width="600" height="600"></canvas>
        </div>
        </div>
      </div>
    </main>

    <script>
      Chart.defaults.borderColor = '#36A2EB';
      Chart.defaults.color = 'white';

      var labels1 = {{ labels1|safe }};
      var values1 = {{ values1|safe }};

      var ctx = document.getElementById('star_chart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels1,
              datasets: [{
                  data: values1,
                  backgroundColor: ['#FFE15D','#F49D1A','#DC3535','#B01E68'],
                  borderColor: 'white',
                  borderWidth: 1
              }]
          },
          options: {
            plugins: {
              legend: {
                display: false
              }
            }
          }
      });
    </script>
    <script>
      var labels2 = {{ labels2|safe }};
      var values2 = {{ values2|safe }};

      var ctx = document.getElementById('recomendation_chart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: labels2,
              datasets: [{
                  label: 'Recommendation',
                  data: values2,
                  backgroundColor: ['green','red','orange'],
                  borderColor: 'white',
                  borderWidth: 1
              }]
          },
      });
  </script>
  <script>

    var labels3 = {{ labels3|safe }};
    var values3 = {{ values3|safe }};

    var ctx = document.getElementById('days_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels3,
            datasets: [{
                data: values3,
                backgroundColor: 'white',
                borderColor: '#ff6300',
                borderWidth: 1
            }]
        },
        options: {
          ticks: {
                  autoSkip: true,
                  maxTicksLimit: 5,
              },
          tension: 0.2,
          plugins: {
            legend: {
              display: false
            }
          }
        }
    });
  </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
