{% extends "main/base.html" %}
{% block content %}
<article class="media content-section">
  <form method="POST" action="{% url 'add_product' %}">
    {% csrf_token %}
    <label for="url_f">Enter your URL:</label>
    <input type="text" id="url_f" name="url_f">
    <button type="submit">Submit</button>
</form>
</article>
</article>
    {% for review in reviews %}
        <article class="media content-section">
          {% comment %} <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> {% endcomment %}
          <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'home' %}">{{ review.author }}</a>
              <small class="text-muted">{{ review.date_p|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'home' %}">{{ review.local_id }}</a></h2> 
            <p class="article-content">{{ review.author }}</p>
            <p class="article-content">{{ review.is_recomended }}</p>
            <p class="article-content">{{ review.is_verified }}</p>
            <p class="article-content">{{ review.stars }}</p>
            <p class="article-content">{{ review.date_b }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}
