{% extends "main/sidebar.html" %}
{% block content %}
<article class="media content-section">
<h4>
    Home
</h4>
  </article>
  <article class="media content-section">
    <h4>Main Purpose:</h4>
  </article>
  <article class="media content-section">
    <h4>How Does it Work:</h4>
  </article>
  <article class="media content-section">
    <h4>Used Libraries:</h4>
    <ul>
        <li>Bootstrap</li>
        <li>CrispyForms</li>
        <li>BeautifulSoup</li>
        <li>Chart.js</li>
        <li>regular expresions</li>
        <li>json</li>
    </ul>
  </article>
  <article class="media content-section">
    <h4>Approches:</h4>
  </article>
{% endblock content %}