{% extends "main/base.html" %}
{% block content %}
<article class="media content-section">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
</article>
    {% for review in reviews %}
        <article class="media content-section">
          {% comment %} <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> {% endcomment %}
          <div class="media-body">
            <div class="article-metadata">
              {% comment %} <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> {% endcomment %}
              <small class="text-muted">{{ review.date_p|date:"F d, Y" }}</small>
            </div>
            {% comment %} <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2> {% endcomment %}
            <p class="article-content">{{ review.author }}</p>
            <p class="article-content">{{ review.is_recomended }}</p>
            <p class="article-content">{{ review.is_verified }}</p>
            <p class="article-content">{{ review.stars }}</p>
            <p class="article-content">{{ review.date_p }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}
