{% extends "main/sidebar.html" %}
{% block content %}


<article class="media content-section">
    <form method="POST" action="{% url 'add_product' %}">
        {% csrf_token %}
        <label for="url_f">Add Product:&nbsp;</label>
        <input type="text" id="url_f" name="url_f">
        <button id="submit-btn" type="submit">Submit</button>
    </form>
</article>

{% for product in products %}
    <article class="media content-section">
        <div class="media-body">
            <h5>
                <a class="article-title float-left" href="{% url 'product_reviews' product.pk %}">
                    {{ product.product_name }}&nbsp;&nbsp;{{ product.rating }}&nbsp;<i class="yellow fa-solid fa-star"></i>&nbsp; {{ product.reviews.count }} <i class="fa-solid fa-comment"></i>
                </a>

                
                <a href="{% url 'delete_product' pk=product.pk %}" class="float-right" onclick="return confirm('Are you sure you want to delete this product?');">
                    <i class="fa-solid fa-trash trash-icon">&nbsp;</i>
                </a>
                <a href="{% url 'download_json' pk=product.pk %}" class="float-right">
                    <i class="fa-solid fa-download download-icon">&nbsp;&nbsp;</i>
                </a>
                <a href="{% url 'refresh_product' pk=product.pk %}" class="float-right">
                    <i class="fa-solid fa-arrows-rotate rotate-icon">&nbsp;&nbsp;</i>
                </a>
            </h5>
        </div>
    </article>
{% endfor %}

<script>
    document.getElementById('submit-btn').addEventListener('click', function() {
        this.classList.add('loading');
      });
</script>    

{% endblock content %}
