{% extends "main/sort_base.html" %}
{% block content %}


<article class="media content-section">
    <form method="POST" action="{% url 'add_product' %}">
        <div class="container">
            {% csrf_token %}
            <h4>
                <div style="display: flex;">
                    <label for="url_f">Extract Product:&nbsp;</label>
                    <input type="text" id="url_f" name="url_f" required style="display: inline-block;">&nbsp;
                    <button id="submit-btn" class="btn btn-outline-warning btn-sm" type="submit" style="display: inline-block;">
                        Submit
                        <span id="loading-icon" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </h4>
        </div>
    </form>
</article>



{% for product in products %}
<article class="media content-section">
    <div class="media-body">
        <h5>
            <div class="container">
                <a class="article-title float-left" href="{% url 'product_reviews' product.pk %}">
                    {{ product.product_name }}
                </a>
                <a href="{% url 'delete_product' pk=product.pk %}" class="float-right" onclick="return confirm('Are you sure you want to delete this product?');">
                    <i class="fa-solid fa-trash trash-icon" style="vertical-align: middle;">&nbsp;</i>
                </a>
                <a href="{% url 'download_json' pk=product.pk %}" class="float-right">
                    <i class="fa-solid fa-download download-icon" style="vertical-align: middle;">&nbsp;&nbsp;</i>
                </a>
                <a href="{% url 'refresh_product' pk=product.pk %}" class="float-right">
                    <i class="fa-solid fa-arrows-rotate rotate-icon" style="vertical-align: middle;">&nbsp;&nbsp;</i>
                </a>
                {% if user.is_authenticated %}
                <a href="{% if product.product_id in user_favourites_list %}{% url 'remove_from_favourites' pk=product.pk %}{% else %}{% url 'add_to_favourites' pk=product.pk %}{% endif %}" class="float-right">
                    <i class="yellow star-icon {% if product.product_id in user_favourites_list %}fa-solid{% else %}fa-regular{% endif %} fa-star" style="vertical-align: middle;">&nbsp;&nbsp;</i>
                </a>
                {% endif %}
                <a class="float-right">
                    {{ product.product_price }} <pln>PLN</pln>&nbsp;&nbsp;{{ product.product_rating }}&nbsp;<i class="yellow fa-solid fa-sm fa-star" style="vertical-align: middle;"></i>&nbsp; {{ product.reviews.count }} <i class="fa-solid fa-sm fa-comment" style="vertical-align: middle;"></i>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                </a>
            </div>
        </h5>
    </div>
</article>

{% endfor %}
{% if products.has_other_pages %}
<div class="pagination">
    {% if products.has_previous %}
        <a class="btn btn-outline-warning mb-4" href="?category={{ selected_category }}&sort={{ sorter }}&page=1"><i class="fa-solid fa-angles-left"></i></a>&nbsp;
        <a class="btn btn-outline-warning mb-4" href="?category={{ selected_category }}&sort={{ sorter }}&page={{ products.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>&nbsp;
    {% endif %}

    {% for num in products.paginator.page_range %}
        {% if num == products.number %}
        <a class="btn btn-outline-warning mb-4 active" href="?category={{ selected_category }}&sort={{ sorter }}&page={{ num }}">{{ num }}</a>&nbsp;
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
        <a class="btn btn-outline-warning mb-4" href="?category={{ selected_category }}&sort={{ sorter }}&page={{ num }}">{{ num }}</a>&nbsp;
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
    <a class="btn btn-outline-warning mb-4" href="?category={{ selected_category }}&sort={{ sorter }}&page={{ products.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>&nbsp;
    <a class="btn btn-outline-warning mb-4" href="?category={{ selected_category }}&sort={{ sorter }}&page={{ products.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
    {% endif %}
</div>
{% endif %}


<script>
    document.getElementById("submit-btn").addEventListener("click", function() {
        document.getElementById("loading-icon").style.display = "inline-block";
    });
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

{% endblock content %}

