{% extends "main/base.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% block content %}

  <article class="media content-section">
    <h2>{{ object.product_name }}</h2>
  </article>
  
  <main role="main" class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="content-section">
          Stars Chart
          <canvas id="star_chart" width="100" height="100"></canvas>
          &emsp;Recommendation Chart
          <canvas id="recomendation_chart" width="100" height="100"></canvas>
        </div>
        
      </div>
    </main>


  {% for review in object.reviews.all %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2">{{ review.author }} - {{ review.review_id }}</a>
          <small class="text-muted">{{ review.date_p|date:"F j, Y" }}&nbsp;</small>
          <small class="text-muted"> {{ review.stars }}\5 <i class="yellow fa-solid fa-star"></i>&nbsp;</small>
          {% if review.recomendation == "True" %}
          <small class="text-muted">Recomended: <i class="green fa-solid fa-check"></i>&nbsp;</small>
          {% elif review.recomendation == "False" %}
          <small class="text-muted">Recomended: <i class="red fa-solid fa-xmark"></i>&nbsp;</small>
          {% elif review.recomendation == "None" %}
          <small class="text-muted">Recomended: <i class="red fa-solid fa-question"></i>&nbsp;</small>
          {% endif %}
          {% if review.is_verified == True %}
          <small class="text-muted">Verified: <i class="green fa-solid fa-check"></i>&nbsp;</small>
          {% elif review.is_verified == False %}
          <small class="text-muted">Verified: <i class="red fa-solid fa-xmark"></i>&nbsp;</small>
          {% endif %}
           <i class="green fa-solid fa-thumbs-up"></i> <small class="text-muted">{{ review.t_up }}&nbsp;</small>
           <i class="red fa-solid fa-thumbs-down"></i> <small class="text-muted">{{ review.t_down }}</small>
        </div>
        <p>{{ review.opinion }}</p>

        <ul>
          {% for pos_feature in review.pos_features %}
              <li>
                  <i class="green fa-solid fa-plus">&nbsp;</i>
                  {{ pos_feature }}
              </li>
          {% endfor %}
          </ul>
        {% for neg_feature in review.neg_features %}
        <ul>
        <i class="red fa-solid fa-minus">&nbsp;</i>
        {{ neg_feature }}
        {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}

  {% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

  

{% endif %}




{% block scripts %}
    <script>
        var labels1 = {{ labels1|safe }};
        var values1 = {{ values1|safe }};

        var ctx = document.getElementById('star_chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels1,
                datasets: [{
                    label: 'No. of Stars',
                    data: values1,
                    backgroundColor: ['green','red','orange'],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
      </script>
      <script>
        var labels2 = {{ labels2|safe }};
        var values2 = {{ values2|safe }};

        var ctx = document.getElementById('recomendation_chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels2,
                datasets: [{
                    label: 'Recommendation',
                    data: values2,
                    backgroundColor: ['green','red','orange'],
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
{% endblock %}