{% include 'main/head.html' %}

    <main role="main" class="container">
      <div class="row">
      <div class="col-md-2">
          <div class="content-section">
            <h3>Sidebar</h3>
              <ul class="list-group text-center">
                <h5>
                <li class="list-group-item"><a href="{% url 'products' %}">Extract Opinon</a>
                <li class="list-group-item"><a href="{% url 'products' %}?category=All">Products List</a>
                <li class="list-group-item"><a href="{% url 'home' %}">Main Page</a>
                <li class="list-group-item"><a href="{% url 'about' %}">About Author</a>
                </h5>
              </ul>
          </div>
        </div>
        <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
