@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

/* reset box-sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}


/* Font colors */

:root {
    --font-1: #f8f9fa;
    --font-2: #ced4da;
    --font-3: #6c757d;
    --bg-1: #495057;
    --bg-2: #6c757d;
}


/* apply background styling and font type */


body {
    background: -moz-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -moz-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: -webkit-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -webkit-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: -o-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -o-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background-size: 20px 20px;
    background-color: #444;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}


/* set page display */

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}


/* list, i and a styling */

li {
    list-style: none;
}

i {
    font-size: small;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 20px;
    transition: color ease-in-out 200ms;
}

a:hover {
    color: var(--font-3);
}


/* header and nav styling */

header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 5px;
    left: 5px;
    color: var(--font-1);
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-1);
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

nav {
    font-weight: 400;
}

nav li {
    padding-top: 15px;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    header {
        position: relative;
        top: 0
    }
    nav>ul {
        flex-direction: row;
    }
}


/* end of header and nav styling */


/* classes styling */


/* container for buttons  */

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* container for charts  */

.container2 {
    display: flex;
    justify-content: space-between;
}


/* container for footer  */

.container3 {
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    bottom: 0;
}

.btn {
    padding: 0 20px;
    width: 30%;
    height: auto 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px var(--bg-1) solid;
    color: var(--font-2);
    background: transparent;
    cursor: pointer;
}


/* scrollbar styling */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: var(--bg-2);
}

 ::-webkit-scrollbar-thumb {
    background: var(--font-2);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--font-1);
}


/* table styling */


/* table heading */

th {
    position: sticky;
    top: 0px;
    border-radius: 0;
    background-color: var(--bg-1);
}


/* table class */

.table {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 394px;
    width: auto;
    max-width: 1300px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: var(--bg-2);
    border-color: var(--bg-1);
    color: var(--font-1);
}

.mt-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding-bottom: 20px;
}


/* heading styling*/

h2 {
    margin-top: 10px;
    color: var(--font-2);
}


/* mockaroo data styling */

#hero {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 130px;
    width: 50%;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }
}


/* charts styling */

#hero2 {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 46%;
}

.hero-2 {
    margin-top: 60px;
}


/* footer styling */

footer {
    position: relative;
    width: 90%;
    bottom: 0;
    background-color: var(--bg-1);
    color: var(--font-1);
    padding: 20px;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 40px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
}