{% extends 'home/head.html' %} {% block content %}
<main role="main" class="container">
  <div class="row" style="height: 40vw">
    <div class="col d-flex align-self-center justify-content-center">
      <div class="card" style="width: 15rem; background-color: transparent; border-color: transparent">
        <a href="{% url 'ceneo-home' %}" class="card-img">
          <img src="media\profile_pics\netflix.png" class="card-img-top" /></a
        ><br />
        <h4>Ceneo Scraper</h4>
      </div>
    </div>

    <div class="col d-flex align-self-center justify-content-center">
      <div class="card" style="width: 15rem; background-color: transparent; border-color: transparent">
        <a href="{% url 'faceweb-home' %}" class="card-img">
          <img src="media\profile_pics\netflix.png" class="card-img-top" /></a
        ><br />
        <h4>FaceWeb</h4>
      </div>
    </div>

    <div class="col d-flex align-self-center justify-content-center">
      <div class="card" style="width: 15rem; background-color: transparent; border-color: transparent">
        <a href="{% url 'store-home' %}" class="card-img">
          <img src="media\profile_pics\netflix.png" class="card-img-top" /></a
        ><br />
        <h4>Store</h4>
      </div>
    </div>

    <div class="col d-flex align-self-center justify-content-center">
      <div class="card" style="width: 15rem; background-color: transparent; border-color: transparent">
        <a href="{% url 'ceneo-home' %}" class="card-img">
          <img src="media\profile_pics\netflix.png" class="card-img-top" /></a
        ><br />
        <h4>Arcade</h4>
      </div>
    </div>

    <div class="col d-flex align-self-center justify-content-center">
      <div class="card" style="width: 15rem; background-color: transparent; border-color: transparent">
        <a href="{% url 'ceneo-home' %}" class="card-img">
          <img src="media\profile_pics\netflix.png" class="card-img-top" /></a
        ><br />
        <h4>???</h4>
      </div>
    </div>
  </div>
</main>
{% endblock %}
