:root {
    --font-1: #f8f9fa;
    --font-2: #ced4da;
    --font-3: #6c757d;
    --bg-1: #495057;
    --bg-2: #6c757d;
}

body {
    background: radial-gradient(circle, #ff6300 10%, transparent 11%), radial-gradient(circle at bottom left, #ff6300 5%, transparent 6%), radial-gradient(circle at bottom right, #ff6300 5%, transparent 6%), radial-gradient(circle at top left, #ff6300 5%, transparent 6%), radial-gradient(circle at top right, #ff6300 5%, transparent 6%);
    background-size: 6em 6em;
    background-color: #14213de0;
    color: var(--font-1);
    margin-top: 5rem;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

.right {

    float: right;
}

.btn-outline-secondary {

    background-color: #3a5288;
    outline-color: #3a5288;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-1);
}
.green {
    color: green;
}
.red {
    color: rgb(175, 73, 73);
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}

.trash-icon {
    opacity: 80%;
    color: rgb(189, 51, 51);
}

.download-icon {
    opacity: 80%;
    color: rgb(37, 37, 168);
}

.rotate-icon {
    opacity: 80%;
    color: rgb(32, 167, 32);
}

.trash-icon:hover,
.download-icon:hover,
.rotate-icon:hover {
    opacity: 0.2;
}

.navbar-dark{

    color: #ff6300;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #3a5288;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #3a5288;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.sorting-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.chart {
    background: #3a5288;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.article-title {
    color: var(--font-2);
}

a.article-title:hover {
    color: var(--bg-1);
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

